src/main/mule/evaluation-assessment-sapi-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-all-assessments" doc:id="964bbae0-2763-4b51-9f06-36dbcdda0594" >
		<http:request method="GET" doc:name="CaliburAPI - Evaluation Service - Assessment Controller GET Request" doc:id="e31327b7-526d-4407-ad25-d4ddcdb51819" config-ref="HTTP_Request_configuration" path="/assessments"/>
		<logger level="INFO" doc:name="Logger" doc:id="f65fdeeb-31d7-4971-b2ac-9ae4e49efa07" message="#[payload]"/>
	</flow>
	<flow name="get-all-grades" doc:id="c358af3e-3aef-4621-943b-1fc3f963e133" >
		<http:request method="GET" doc:name="CaliburAPI - Evaluation Service - Grades Controller GET Request" doc:id="7bac98b7-1593-4a2a-aab4-8d3905b532f3" config-ref="HTTP_Request_configuration" path="/grades"/>
		<logger level="INFO" doc:name="Logger" doc:id="be33d956-42e7-4bf8-9d19-aaf0c0cd5654" />
	</flow>
	<flow name="get-assessment-by-id" doc:id="4dbf4cfb-e0fd-46e0-ab1a-95d387b27528" >
		<http:request method="GET" doc:name="CaliburAPI - Evaluation Service - Assessment Controller GET Request" doc:id="0cb6c20d-6d37-436f-86fd-9a1e2fc6c3c6" config-ref="HTTP_Request_configuration" path="/assessments/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.'id'
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="cde3edfd-2697-43a2-a4f0-b07e30353e1a" />
	</flow>
</mule>
